data
__pycache__
checkpoint
myMNIST
garbage.py
v1_cloud
v2_cloud
v2_cloud100
v2_cloud75
v3_cloud100
v11_cloud
v21_cloud
v2_cloud75_no_transform
v4_cloud
v6_cloud
v5_cloud
v17_saved_model
v18_saved_model
v13_saved_model
v28_saved_model
v29_saved_model
aada_files
data_split
es1_saved_model
es2_saved_model
es5_saved_model
es6_saved_model
ES3_saved_model
ES4_saved_model
dc_es2_saved_model
